<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Maintainers:</li>
          {% if site.email %}
            <li>
              <a href="mailto:{{ site.email }}">
                <span class="icon icon--email">{% include icon-email.svg %}</span>
                <span class="username">{{ site.email }}</span>
              </a>
            </li>
          {% endif %}

          {% if site.twitter_username %}
            <li>{% include icon-twitter.html username=site.twitter_username %}</li>
          {% endif %}

          {% if site.uklugs_link %}
            <li>
              <a href=":{{ site.uklugs_link }}">
                <span class="icon icon--globe">{% include icon-globe.svg %}</span>
                <span class="username">FLUG @ UKLugs</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>Links:</li>
          {% if site.mailinglist %}
            <li>
              <a href=":{{ site.mailinglist }}">
                <span class="icon icon--email">{% include icon-email.svg %}</span>
                <span class="username">FLUG Mailing List</span>
              </a>
            </li>
          {% endif %}

          {% if site.gplus_url %}
          <li>
            {% include icon-gplus.html username=site.gplus_url %}
          </li>
          {% endif %}

          {% if site.gitlab_username %}
          <li>
            {% include icon-gitlab.html username=site.gitlab_username %}
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
