<div id="map" style='overflow:hidden;height:350px;width:300px;'>
  <div id='gmap_canvas' style='height:350px;width:300px;'></div>
  <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
</div>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: {{ site.latitude }}, lng: {{ site.longitude }} },
      zoom: {{ site.zoom }},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    marker = new google.maps.Marker({
      map: map,
      position: new google.maps.LatLng({{ site.latitude }},{{ site.longitude }})
    });
    infowindow = new google.maps.InfoWindow({
      content:'<strong>TechMeetup</strong><br>CodeBase Stirling<br>'
    });
    google.maps.event.addListener(marker, 'click', function() {infowindow.open(map,marker);})
    infowindow.open(map,marker)
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHd8Ufd3qN2j1yFXCxYxgzoDHjyKdzzpA&callback=initMap"
  async defer>
</script>
