<a href="{{ include.username }}">
  <span class="icon icon--gplus">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
      <g>
      <path d="M13,0H3C1.343,0,0,1.343,0,3v10c0,1.657,1.343,3,3,3h10c1.657,0,3-1.343,3-3V3C16,1.343,14.657,0,13,0z M5.768,13.383
      c-1.771,0-3.265-0.721-3.265-1.873c0-1.169,1.363-2.298,3.134-2.297L6.19,9.208C5.948,8.973,5.756,8.684,5.756,8.327
      c0-0.212,0.068-0.415,0.162-0.596l-0.295,0.01c-1.455,0-2.429-1.035-2.429-2.318c0-1.255,1.345-2.338,2.775-2.338h3.19L8.443,3.601
      H7.432C8.103,3.859,8.46,4.641,8.46,5.443c0,0.673-0.373,1.253-0.9,1.665C7.045,7.511,6.948,7.679,6.948,8.021
      c0,0.292,0.552,0.788,0.84,0.993c0.843,0.596,1.114,1.149,1.114,2.072C8.902,12.238,7.787,13.383,5.768,13.383z M14,7.019h-2v1.997
      h-0.999V7.019H9V6h2.001V4H12v2h2V7.019z"/>
      <path d="M7.314,5.505C7.172,4.427,6.391,3.561,5.57,3.536C4.749,3.512,4.198,4.337,4.34,5.417c0.142,1.079,0.923,1.974,1.745,1.998
      C6.905,7.44,7.457,6.585,7.314,5.505z"/>
      <path d="M6.769,9.639C6.527,9.561,6.26,9.514,5.975,9.511c-1.224-0.013-2.32,0.746-2.32,1.659c0,0.932,0.884,1.706,2.108,1.706
      c1.721,0,2.32-0.728,2.32-1.658c0-0.112-0.014-0.222-0.039-0.329C7.91,10.361,7.433,10.1,6.769,9.639z"/>
      </g>
    </svg>
  </span>
  <span class="username">FLUG @ G+</span>
</a>
