<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1><a href='https://community.techmeetup.co.uk'>{{ page.header }}</a></h1>
        <div class="pageHolder">
          <div class="floatonelineleft">
            {{ content }}
          </div>
          <div class="floatonelinecenter">&nbsp;</div>

          <div class="floatonelineright">
            {% include gmap.html %}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
